apiVersion: secrets.hashicorp.com/v1beta1
kind: HCPAuth
metadata:
  name: hcp-auth
  namespace: ops
spec:
  organizationID: ${ORGANIZATION_ID}
  projectID: ${PROJECT_ID}
  servicePrincipal:
    secretRef: vso-demo-sp

