apiVersion: secrets.hashicorp.com/v1beta1
kind: HCPVaultSecretsApp
metadata:
  name: vso-app
  namespace: ops
spec:
  appName: secretsApp
  hcpAuthRef: hcp-auth
  refreshAfter: 60s
  destination:
    create: true
    labels:
      env: "hcp-vault-secrets"    
    name: cis-gw-main-secret
    overwrite: true